body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #1f1f1f;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
nav ul li {
    display: inline;
    margin: 0 100px;
}
nav ul li a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 20px;
}
section {
    padding: 50px;
}
.game-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.games {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-behavior: smooth;
}
.game {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
.genre-list {
    display: flex;
    justify-content: center;
    gap: 40px; /* Verhoogde ruimte tussen de knoppen */
    flex-wrap: wrap;
    padding: 20px;
}
.genre {
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
}
button {
    background: #00e5ff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}